
.icon {
  background-image: url('img/sprite.jpg');
}

.icon-avatar1 {
  background-position: -0px -0px;
  width: 188px;
  height: 188px;
}
.icon-avatar2 {
  background-position: -0px -188px;
  width: 188px;
  height: 188px;
}
.icon-avatar3 {
  background-position: -0px -376px;
  width: 188px;
  height: 188px;
}
.icon-avatar4 {
  background-position: -0px -564px;
  width: 188px;
  height: 188px;
}
.icon-avatar5 {
  background-position: -0px -752px;
  width: 308px;
  height: 308px;
}
.icon-avatar6 {
  background-position: -0px -1060px;
  width: 308px;
  height: 308px;
}
.icon-avatar7 {
  background-position: -0px -1368px;
  width: 308px;
  height: 308px;
}
