.icon {
  float: left;
  margin-right: 1rem;
  border-radius: 50%;
}


/* Ubuntu    COMMENTED OUT EVERYTHING BELOW FONT-FAMILY NOW THAT USING GOOGLE FONT-WEB BASED*/
@font-face {
    font-family: "Ubuntu", sans-serif;
  
}
@font-face {
    font-family: "Ubuntu", sans-serif;
}
@font-face {
    font-family: "Ubuntu", sans-serif;

}
@font-face {
    font-family: "Ubuntu", sans-serif;

}
@font-face {
    font-family: "Ubuntu", sans-serif;

}
@font-face {
    font-family: "Ubuntu", sans-serif;

}
@font-face {
    font-family: "Ubuntu", sans-serif;

}
@font-face {
    font-family: "Ubuntu", sans-serif;

}
